# fly.toml app configuration file generated for Level Up on 2025-10-21T17:23:30Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'LevelUp'
primary_region = 'iad'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']
[build]
  dockerfile = "Dockerfile"

[processes]
  app = "npm start"
